@bodyBackground: #515356;
@textColor: #abb8cc;
@heroUnitTextColor: #9ea391;

@heroUnitBackground: darken(@bodyBackground, 3%);
@heroUnitHeadingColor: (@heroUnitTextColor);
@heroUnitLeadColor: fadeout(@heroUnitTextColor, 20%);

@navbarText: #635553;
@navbarLinkColor: #635553;
